[project]
	description = docker??
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/xx565763914
[access "refs/for/refs/*"]
	read = group user/xx565763914
	push = group user/xx565763914
	label-Code-Review = -2..+2 group user/xx565763914
	label-Verified = -1..+1 group user/xx565763914
	rebase = group user/xx565763914
	removeReviewer = group user/xx565763914
	submit = group user/xx565763914
[access "refs/heads/*"]
	read = group user/xx565763914
	create = group user/xx565763914
	push = +force group user/xx565763914
	pushMerge = group user/xx565763914
[access "refs/tags/*"]
	push = group user/xx565763914
	push = +force group user/xx565763914
